fastapi==0.116.1
uvicorn==0.35.0

langchain==0.3.27
langchain-core==0.3.74
langchain-community==0.3.27
langchain-mistralai==0.2.11

mistralai==1.9.10

python-dotenv==1.1.1

tavily-python==0.7.10

requests==2.32.5
beautifulsoup4==4.13.5
lxml==6.0.1

scholarly==1.7.11
arxiv==2.2.0
wikipedia==1.4.0
biopython==1.85

sentence-transformers==5.1.0
faiss-cpu==1.12.0
rank-bm25==0.2.2

pymupdf==1.26.4
pypdf==6.0.0

numpy==2.3.2
pandas==2.3.2
scikit-learn==1.7.1

httpx==0.28.1
tenacity==9.1.2

python-multipart==0.0.20

pydantic==2.11.7

tqdm==4.67.1